.logincontainer{
    display: flex;    
    align-items: center;
    justify-content: center;
}


.loginelements{
    border-radius: 5px;
    margin-top: 7rem;
    padding-bottom: 3rem;
    text-align: center;
    background-color: lightgrey;
    height: auto;
    width: 25rem;
    font-family: sans-serif;
    font-size: 75%;
}

.logo{
    margin-top: 2rem;
}

.inputfelter{
    margin-top: 4rem;
}

.usernamebox{
    width: 85%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0.8rem;
    margin-bottom: 1rem;
}

.loginbutton{
    margin-top: 1rem;
}

/*button {*/
/*    border-radius: 5px;*/
/*    background-color:rgb(8, 143, 189);*/
/*    color: white;*/
/*    padding: 14px 20px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    */
/*  }*/
/*  */
/*button:hover {*/
/*    opacity: 0.8;*/
/*}*/